[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
deepface = "*"
tf-keras = "*"
matplotlib = "3.9.0"
opencv-python = "*"
spotipy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
